body {
  background: #fff;
}


#mainnav>li.active>a,
#mainnav>li.active>a:hover,
#mainnav>li.active>a:focus {
  border-top: 2px solid orange;
  border-bottom: 0;
  font-weight: bold;
}

#mainnav>li {
  margin-left: 10px;
}

#mainnav>li>a {
  background-color: #f0f0f0;
  border: 1px solid #dddddd;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  font-size: 1.2em;
}

#mainnav>li>a:hover,
#mainnav>li>a:focus {
  background-color: #dddddd;
}

#mainnav>li>a i.fa {
  margin-right: 2px;
}
.tab-content>.tab-pane {
  padding-top: 40px;
}

.vis-item .vis-item-overflow {
  overflow: visible;
}





#timelineCustom {
  font-family:  purisa, 'comic sans', cursive;
}

#timelineCustom .vis-timeline {
  border: 2px solid purple;
  font-size: 12pt;
  background: #ffecea;
}

#timelineCustom .vis-item {
  border-color: #F991A3;
  background-color: pink;
  font-size: 15pt;
  color: purple;
  box-shadow: 5px 5px 20px rgba(128,128,128, 0.5);
}

#timelineCustom .vis-item,
#timelineCustom .vis-item.vis-line {
  border-width: 3px;
}

#timelineCustom .vis-item.vis-dot {
  border-width: 10px;
  border-radius: 10px;
}

#timelineCustom .vis-item.vis-selected {
  border-color: green;
  background-color: lightgreen;
}

#timelineCustom .vis-background .vis-minor.vis-odd {
  background: #ffd7d7;
}

#timelineCustom .vis-time-axis .vis-text {
  color: purple;
  padding-top: 10px;
  padding-left: 10px;
}

#timelineCustom .vis-time-axis .vis-grid.vis-minor {
  border-width: 2px;
  border-color: pink;
}

#timelineCustom .vis-time-axis .vis-grid.vis-major {
  border-width: 2px;
  border-color: #F991A3;
}

#timelineInteractive {
  box-shadow: 2px 2px 3px #444;
  margin-bottom: 30px;
}

#interactiveActions .btn {
  margin-bottom: 10px;
  margin-right: 7px;
  white-space: normal;
}

#timelinedata {
  margin-bottom: 15px;
}

.optionsSection {
  border: 1px solid #EEE;
  border-radius: 3px;
  background: #FCFCFC;
  padding: 10px;
  margin-bottom: 20px;
}

.optionsSection h4 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
}
